</div>
<div class="f">
  <div class="foot">
   <div class="foot-i ">
       <ul>
         <li><a class="mi" href="/">Home</a></li>
         <li><a class="mi" href="/create">Create</a></li>
         <li><a class="mi" href="/about">About</a></li>
        
       </ul>
      </div>
  </div>
</div>
</div>

</body>
</html>
