<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0">

  <meta charset="uff-8">
  <meta name="description" content="website by harsh">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="../css/style.css">
  <script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <title>Infinity Cause</title>
</head>

<body>
  <div class=body0>
  <div class="header ">
    <div class="header-left">
      <h1>Infinity Cause</h1>
    </div>
    
      
    <div class="header-right">
      <button class="menu">MENU</button>
      <div class="menu-d">
        <ul>
          <li><a class="menu-i home" href="/">Home</a></li>
          <li><a class="menu-i home" href="/create">Create</a></li>
          <li><a class="menu-i about" href="/about">About us</a></li>
        </ul>
      </div>
      
    </div>
   
    </div>
  
    <div class=body1>