<%- include("partials/header"); -%>
    <h3 style="  text-shadow: 2px 2px #50bcff;
    "
    >About</h3><br><br>
    <div style=" padding: 7px; "> 
    <h4>Web Developer:</h4>
    <p>Harsh Kumar singh</p>
    <p>harshaiactr@gmail.com</p>
    <br><br>
    <h4>Technicalities:</h4><br>
    <h5>FrontEnd</h5>
    <p>HTML, CSS, Javascript</p>
    <h5>BackEnd</h5> 
    <p>jQuery, Embedded Javascript, NodeJS, Express</p>
    <h5>Database</h5>
    <p>MongoDB, Mongoose</p>
    <h5>Hosting & resposity</h5> 
    <p>Heroku & Git</p>
    </div>
<%- include("partials/footer"); -%>
