
<%- include("partials/header"); -%>
    <h3>Create</h3>
    <form class="" action="/create" method="post">
      <div class="form-group">
        <label>Name/Nickname<SPAN style="font-weight: lighter;">(5-7 Characters)</SPAN></label><br>
        <input class="form-control" type="text" name="hbdname"><br>
        <label>Url<SPAN style="font-weight: lighter;"">(ex:harsh-singh)</SPAN></label><br>
        <input class="form-control" type="text" name="hbdurl"><br>
        <label>Message</label><br>
        <textarea class="form-control" name="hbdmsg" rows="10" cols="25"></textarea><br>

      </div>
      <button class="btn btn-primary" type="submit" name="button">Submit</button>
    </form>   
<%- include("partials/footer"); -%>
