
<%- include("partials/header"); -%>
<div class="part">
<h3>Welcome User!!</h3><br>
<h4>Here you can create the best birthday surprise for your people</h4><br>
<p>Stay safe where-ever you are & send the link of webpage to wish specific person in the best way possible.  </p><br><br>
</div>
<div class="dot"></div>  
<div class="part">
    <br>
    <h4>How to create the Birthday webpage?</h4><br>
    <h5>Step 1</h5>
    <p>Navigate to the <strong><a class="ba" href="/create">Create</a></strong> section</p><br>
    <h5>Step 2</h5>
    <p>Enter name of the person, url , your message and then submit</p><br>
    <h5>Finally</h5>
    <p>Your webpage is ready!!<br>Copy & share the link!!!</p><br>    
</div>
<div class="dot"></div>  
<div class="part">
    <br>
    <h4>Want to see the sample of webpage?</h4><br>
     <p>The sample contain name and message given by the developer.</p>
     <h5 ><a class="ba" href="/thefirstbirthday">Click here to see Sample</a></h5>
    </div>
<%- include("partials/footer"); -%>
